.footer {
  background: $color-white;
  font-family: 'Segoe UI';
  font-size: 18px;
  &-wrap {
    text-align: center;
    padding: 28px 0;
  }
  &-text {
    color: $border-color;
    margin-bottom: 5px;
  }
  &-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    a {
      color: #000;
      text-decoration: none;
    }
    img {
      margin: 0 4px;
      height: 23px;
      width: 23px;
    }
  }
}
